body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

#wall {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  flex-wrap: wrap;
}

.legend {
  width: 100vw;
  text-align: center;
  flex-shrink: 0;
}

#tableau {
  display: block;
  max-width: 90vw;
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.1), 0 14px 56px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
}

a, a:visited, a:active {
  color: #474747;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
